.wrapGame {
  position: relative;
  padding-top: 10px;

  h2,
  p {
    margin: 0;
  }

  .circleBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    color: grey;
    border: none;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
    background: transparent;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
  .wrapSetting {
    padding: 0 10px;

    .settingHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & > div > button {
      display: flex;
      align-items: center;
    }

    .setting {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: grey;

      legend {
        padding: 0 6px;
        line-height: 1.5;
      }

      fieldset {
        margin: 0;
        padding: 0 0.5rem;
        border-radius: 15px;
        border: 1px solid var(--G6);
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
      }
    }
  }

  .mathTask {
    font-size: 3rem;
    text-align: center;
    color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p,
    div {
      font-weight: 700;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: center;

      & > p,
      & > span {
        height: 80px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: var(--tr_light);
        width: calc(50% - 5px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > span {
        color: grey;
      }
    }
  }

  .wrapAnswers {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 10px;

    > button {
      height: 80px;
      width: 100%;
      border-radius: 15px;
      font-size: 3rem;
      font-weight: 700;
      color: grey;
      border: none;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);

      &:nth-child(1) {
        background: var(--grey_btn);
        color: var(--jowte);
      }
      &:nth-child(2) {
        background: var(--tr_blue);
      }
      &:nth-child(3) {
        background: var(--tr_red);
      }
      &:nth-child(4) {
        background: var(--tr_yellow);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 0 10px;

    span,
    button {
      height: 80px;
      border-radius: 15px;
      width: calc(50% - 5px);
      color: grey;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border: 5px dotted rgba(0, 0, 0, 0.3);
    }

    button {
      padding: 10px 20px;
      border: 1px solid darkgrey;
      background: var(--yellow_btn);
      transition: background-color 0.3s ease;

      &:hover:not([disabled]) {
        opacity: 0.7;
      }

      &:disabled {
        cursor: not-allowed;
      }

      &:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }
}
