.wrapCurrency {
  font-weight: 700;
  text-align: center;
  display: flex;
}
.currencyMark {
  margin: auto 0;
  font-size: 28px;
}
.gryvnyaSale,
.gryvnyaBuy {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
}
.gryvnyaSale span,
.gryvnyaBuy span {
  font-weight: 400;
  font-size: 10px;
  padding: 0 3px;
}
.gryvnyaSale span {
  color: tomato;
}
.gryvnyaBuy span {
  color: #6cd670;
}
/* .dol {
  color: rgb(121, 115, 115) !important;
  font-size: 10px !important;
} */
