.wrapCurrency {
  font-weight: 700;

  display: flex;
  align-items: center;
}
.currencyMark {
  display: flex;
  align-items: center;
  width: 20px;
}
.currencyMark svg {
  margin: auto;
  width: 20px;
  height: 22px;
}
.gryvnyaSale,
.gryvnyaBuy {
  width: 45px;
  margin: 0;
  font-size: 10px;
  line-height: 1.5;
}
.gryvnyaSale span,
.gryvnyaBuy span {
  font-weight: 400;
  font-size: 10px;
  padding: 0 3px 0 0;
}
.gryvnyaSale span {
  color: tomato;
}
.gryvnyaBuy span {
  color: #6cd670;
}
/* .dol {
  color: rgb(121, 115, 115) !important;
  font-size: 10px !important;
} */
