.wrapAllForm {
  color: rgb(173, 175, 173);
  margin: 0 auto;
  width: calc(100% - 20px);
  background-color: rgb(248, 245, 245);
  border-radius: 7px;
  position: relative;
}
.addForm {
  padding: 10px;
  width: 100%;
  font-size: 20px;
}
.topAddForm {
  width: 100%;
  /* TO-DO style */
}

.backBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 50px;
}

.backBtn:hover,
.backBtn:focus {
  box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.1);
}
.backBtn:active {
  box-shadow: none;
}
.close {
  width: 15px;
  fill: grey;
}

.title {
  font-size: 20px;
  margin: 0;
  padding: 5px 0 15px 0;
  display: inline-block;
  margin-right: 20px;
}

.wrapTextarea {
  position: relative;
}

.inputTask {
  width: 100%;
  height: 82px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 20px;
  border-radius: 7px;
  border: 1px solid lightgrey;
  outline: none;
  color: grey;
  resize: none;
}

.inputTask::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
  margin: 3px 0;
}

.inputTask::-webkit-scrollbar {
  padding: 5px 0;
  width: 6px;
  background-color: transparent;
}

.inputTask::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
  padding: 5px 0;
}

.error {
  font-size: 12px;
  margin: 0;
  color: tomato;
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.twoInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrapInput {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.wrapDescr {
  display: flex;
  align-items: flex-end;
}
.clock,
.level {
  /* width: 15px; */
  height: 20px;
  fill: lightgray;
}

.wrapInput p {
  /* display: inline-block; */
  font-size: 12px;
  color: lightgrey;
  padding-bottom: 5px;
  margin: 0;
  padding-right: 5px;
}
.dataInput {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid lightgrey;
  outline: none;
  color: grey;
  width: 42%;
}
.priorityInput {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid grey;
  outline: none;
  color: grey;
  width: 40%;
}
.addBtn {
  width: 100%;
  border: none;
  border-radius: 7px;
  color: grey;
  padding: 10px;
  outline: none;
}
.addBtn:hover,
.addBtn:focus {
  box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.1);
}
.addBtn:active {
  box-shadow: none;
}

/* priority */
.lowPriority {
  background-color: #fcf952;
}

.normalPriority {
  background-color: #91ff95;
}

.highPriority {
  background-color: #f3a987;
}
