.wrapForm {
  color: rgb(173, 175, 173);
  margin: 0 auto;
  background-color: rgb(248, 245, 245);
  position: relative;
  opacity: 0.95;
  height: 100%;
  width: 100%;
}
.addForm {
  padding: 6px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.topAddForm {
  width: 100%;
}

.wrapTitle {
  display: flex;
  align-items: center;
  gap: 5px;

  & > svg {
    width: 36px;
    height: 36px;
    color: grey;
  }
}

.title {
  font-size: 20px;
  margin: 0;
  line-height: 54px;
  color: grey;
  font-weight: 500;
  text-transform: capitalize;
}
.wrapTextarea {
  position: relative;
  flex: 1;
  margin-bottom: 10px;
}

.inputTask {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  padding-right: 20px;
  border-radius: 7px;
  border: 1px solid lightgrey;
  outline: none;
  color: grey;
  resize: none;
}

.inputTask::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
  margin: 3px 0;
}

.inputTask::-webkit-scrollbar {
  padding: 5px 0;
  width: 6px;
  background-color: transparent;
}

.inputTask::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
  padding: 5px 0;
}

.error {
  font-size: 12px;
  margin: 0;
  color: tomato;
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.twoInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrapInput {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.wrapDescr {
  display: flex;
  align-items: center;
  & > div {
    margin-bottom: 30px;
  }
}
.clock,
.level {
  height: 20px;
  fill: grey;
  margin-bottom: 5px;
}

.wrapInput p {
  font-size: 12px;
  padding-bottom: 5px;
  margin: 0;
  padding-right: 5px;
}
.dataInput {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid lightgrey;
  outline: none;
  color: grey;
  width: 42%;
}
.priorityInput {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid grey;
  outline: none;
  color: grey;
  width: 40%;
}
.addBtn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
  color: grey;
  font-weight: 500;
  border: 1px solid var(--G7);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.addBtn:hover,
.addBtn:focus {
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}
.addBtn:active {
  box-shadow: none;
}

/* priority */
.lowPriority {
  background-color: var(--jowte);
}

.normalPriority {
  background-color: var(--tr_blue);
}

.highPriority {
  background-color: var(--tr_red);
}
.longPriority {
  background-color: darkgrey;
  color: var(--jowte);

  & > svg {
    fill: var(--jowte);
  }
}

.lowPrioritySVG {
  fill: var(--jowte);
}
.normalPrioritySVG {
  fill: var(--tr_blue);
}
.highPrioritySVG {
  fill: var(--tr_red);
}
.longPrioritySVG {
  fill: darkgrey;
}
