.container {
  padding: 5px 5px 0 5px;
  display: flex;
  color: gray;
  position: fixed;
  bottom: 5px;
}

.wrapTimer {
  display: flex;
  justify-content: space-between;
}

.wrapValue {
  display: flex;
  flex-direction: column;
  width: 45px;
  justify-content: center;
  text-align: center;
}
.value {
  font-size: 16px;
  background-color: #fff;
  color: rgb(173, 172, 172);
  color: grey;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  line-height: 1.6;
  margin-right: 5px;
}
.descr {
  font-size: 8px;
  padding-right: 5px;
}

.newYear {
  margin: 0;
  font-size: 9px;
  padding: 0 0 0 5px;
  text-align: start;
  position: relative;
}
.tree {
  fill: forestgreen;
}
.data {
  font-weight: 800;
  font-size: 10px;
  margin: 0;
}
