.btn {
  width: 36px;
  height: 36px;
  background: rgb(195, 249, 195);
  padding: 0;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0.1px rgba(0, 0, 0, 0.75);
  position: relative;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  & > svg {
    height: inherit;
  }
}
