.rateContainer {
  padding-top: 5px;
  height: 400px;
  width: 320px;
  margin: 0 auto;
  border-radius: 3px;
  /* box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15); */
}

.rateTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.rateTable th {
  background-color: #f3f6f6;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Helvetica Bold';
  color: #282828;
}

.rateTable td {
  padding: 12px;
  font-size: 14px;
  font-family: 'Helvetica Roman';
  color: #2c353e;
  border-bottom: 2px solid #f3f6f6;
  font-weight: 400;
}
