.container {
  border: 2px dashed rgb(226, 221, 220);
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  border-radius: 0 30px;
  position: relative;
}
.exclamation {
  position: absolute;
  height: 16px;
  fill: salmon;
  top: 8px;
  left: 15px;
  /* top: 50%;
  left: 16px;
  transform: translate(-50%, -50%); */
}
.quotes {
  position: absolute;
  width: 10px;
  top: 0px;
  left: 30px;
  fill: lightgrey;
}
.text {
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 18px;
  color: grey;
  margin: 0;
  padding: 8px 15px 10px 13px;
  text-align: center;
  text-align: justify;
  text-indent: 19px;
}
.author {
  margin: 0;
  color: salmon;
  font-size: 10px;
  position: absolute;
  bottom: 1px;
  right: 15px;
}
