.container {
  /* border: 2px dashed rgba(250, 128, 114, 0.5); */
  border: 2px dashed rgb(226, 221, 220);
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 0 30px;
  position: relative;
}
.exclamation {
  position: absolute;
  height: 16px;
  fill: gold;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
}
.text {
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 18px;
  color: grey;
  margin: 0;
  padding: 8px 15px 10px 30px;
  text-align: center;
  text-align: justify;
}
.author {
  margin: 0;
  color: tomato;
  font-size: 10px;
  position: absolute;
  bottom: 1px;
  right: 15px;
}
