select option[value='завдання'] {
  background: var(--golube);
}

select option[value='відпочинок'] {
  background: var(--jowte);
}

select option[value='сьогодні'] {
  background: var(--chervone);
}
select option[value='довготермінові цілі'] {
  background: var(--chorne);
}

.select {
  border-radius: 7px;
  padding: 2px 2px 2px 5px;
  outline: none;
  color: grey;
  border: 1px solid lightgrey;
  height: 36px;
}
.oneOption {
  border-radius: 7px;
}

/* <<< Priority */
.lowPriority {
  background-color: var(--jowte);
}
.normalPriority {
  background-color: var(--tr_blue);
}
.highPriority {
  background-color: var(--tr_red);
}
.longPriority {
  background-color: darkgrey;
  color: var(--jowte);
}
/* >>> Priority */
