.wrapTasksToggle {
  background-color: #bdc3c7;
}
.titleTasksToggle {
  width: 100%;
  padding: 10px 5px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  background-color: #bdc3c7;
  position: relative;
}
.titleTasksToggle div {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 35px;
}

.red {
  color: #ff7675;
}

.yellow {
  color: #ffeb3b;
}
.green {
  color: #55efc4;
}

.groupBtnTasks {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  display: flex;
}

.hardTasks {
  background-color: #ff7675;
  flex: 1;
}
.middleTasks {
  background-color: #ffeb3b;
  flex: 1;
}
.lowTasks {
  background-color: #55efc4;
  flex: 1;
}

.groupBtnTasks button {
  padding: 10px 0;
}
