.container {
  display: flex;
  color: gray;
}

.wrapTimer {
  display: flex;
  justify-content: space-between;
}

.wrapValue {
  display: flex;
  flex-direction: column;
  width: 45px;
  justify-content: center;
  text-align: center;
}
.btn {
  font-size: 16px;
  background-color: #fff;
  color: rgb(173, 172, 172);
  color: grey;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  line-height: 1.8;
  margin-right: 5px;
  border: 0.5px solid lightgray;
  text-shadow: 0px 0px 2px #cfcfcf;
}
.descr {
  font-size: 8px;
  padding-right: 5px;
}

.newYear {
  margin: 0;
  font-size: 9px;
  padding: 0 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tree {
  width: 28px;
  fill: forestgreen;
}
.data {
  font-weight: 800;
  font-size: 10px;
  margin: 0;
}

/* colors */
.grey {
  background: var(--grey_btn);
  color: var(--jowte);
}
.red {
  background: var(--chervone);
}
.yellow {
  background: var(--jowte);
}

.blue {
  background: var(--golube);
}
