.product {
  padding: 16px;
  min-height: 44vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border: none;
  border-radius: 9px;
  background: var(--tr_light);
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 0 0 4px 0px grey;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.aboutProduct {
  flex: 1;

  & > p {
    margin: 0;
    text-align: left;
  }

  .productPrice {
    font-weight: bold;
  }
}

.productImage {
  max-width: 100%;
  object-fit: cover;
}

.productImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}
