.product {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border: none;
  border-radius: 9px;
  background: var(--tr_light);
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 0 0 4px 0px grey;

  .wrapCarousel {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.aboutProduct {
  flex: 1 1;

  h2 {
    margin: 0;
    margin-bottom: 15px;
  }

  & > div > p {
    margin: 0px;
    margin-bottom: 15px;
  }
}

.productImage {
  width: 100%;
  height: 300px;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.wrapCharateristic {
  position: relative;

  & > p {
    margin: 5px 0;
  }

  .productPrice {
    font-weight: bold;
    position: absolute;

    bottom: -6px;
    right: 8px;
  }
}
