.wrapAllForm {
  color: rgb(173, 175, 173);
  margin: 0 auto;
}
.backBtn {
  width: 100%;
  border: none;
  display: flex;
  padding: 10px;
  align-items: center;
  outline: none;
}
.backBtn span {
  margin-right: 20px;
  color: rgb(173, 175, 173);
  font-size: 20px;
}
.backBtn p {
  margin: 0;
}
.backBtn:hover,
.backBtn:focus {
  background-color: #a9f374;
}
.backBtn:active {
  background-color: #94d466;
}
.addForm {
  padding: 10px;
  background-color: rgb(248, 245, 245);
  width: 100%;
  font-size: 20px;
}
.title {
  font-size: 20px;
}

.inputTask {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
.wrapTimeEnd {
  display: flex;
  flex-direction: column;
}
.wrapTimeEnd span {
  font-size: 12px;
  color: lightgrey;
}
.inputTime {
  padding: 5px;
  margin-bottom: 10px;
}
.addBtn {
  width: 100%;
  border: none;
  border-radius: 3px;
  color: rgb(173, 175, 173);
  background-color: #bafa8c;
  padding: 10px;
  font-weight: 700;
  outline: none;
}
.addBtn:hover,
.addBtn:focus {
  background-color: #a9f374;
}
.addBtn:active {
  background-color: #94d466;
}
