.currencyContainer {
  padding: 10px 5px;
  height: 95vh;
  min-width: 320px;
  margin: 0 auto;
}
.wrapPB {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.headCurrency {
  display: flex;
  background-color: lightgray;
  border-radius: 7px 7px 0 0;
}
.headCurrency h3 {
  width: 33.3%;
  padding: 10px;
  margin: 0;
  text-align: center;
}
.headCurrency p {
  margin: 0;
}
.bodyCurrency {
  background-color: #fff;
  border-radius: 0 0 7px 7px;
}
.lable {
  position: relative;
}
.lable p {
  margin: 0;
}
.checkInput {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
}

.checkRow {
  display: flex;
  border-top: 2px solid rgb(236, 235, 235);
  padding: 10px 0;
}

.checkRow p {
  width: 33.3%;
  padding-left: 10px;
  text-align: center;
}
.checkRow p span {
  font-size: 10px;
  color: darkgray;
}

/* card */

.card {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 12px;
}
.oneCurrency {
  background-color: #fff;
  border-radius: 7px;
  width: 33%;
  padding: 5px;
}
.wrapFlag {
  display: flex;
  justify-content: space-between;
  height: 15px;
}
.price {
}
.description {
  padding: 5px 0 0 0;
  color: rgb(197, 194, 194);
  text-align: end;
}

.oneCurrency p {
  margin: 0;
}
