@import './normalize.css';
@import '../fonts/fonts.css';
/* TODO scss not connect here */
/* @import './mixins.scss'; */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #495057;
  --gray-darker: #343a40;
  --primary: #0083cd;
  --secondary: #c4c9ce;
  --success: #00a65a;
  --info: #95efff;
  --warning: #ffdf11;
  --danger: #e44655;
  --light: #eef0f2;
  --dark: #212121;
  --black: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* mavka colors */
  --chervone: #f3a987;
  --chorne: #333333;
  --jowte: #ffff99;
  --golube: #cce6ff;

  /* --nebo: rgb(24 197 255 / 34%);
  --trava: rgb(38 255 98 / 36%);
  --trava_btn: rgb(57 255 48 / 34%); */
  --blue_btn: rgba(20, 185, 255, 1);
  --yellow_btn: rgba(255, 255, 0, 1);
  --red_btn: rgba(248, 155, 149, 1);
  --grey_btn: rgba(128, 128, 128, 0.5);

  --tr_dark: rgba(255, 207, 0, 0.1);
  --tr_light: rgba(255, 255, 255, 0.22);
  --tr_green: rgba(0, 172, 23, 0.2);
  --tr_blue: rgba(20, 184, 255, 0.3);
  --tr_red: rgba(255, 104, 93, 0.3);
  --tr_yellow: rgba(238, 255, 0, 0.3);

  /* grey scale*/
  --G1: #000000;
  --G2: #282a2c;
  --G3: #5a5c5e;
  --G4: #646668;
  --G5: #96989a; /* + */
  --G6: #afb1b3;
  --G7: #c8cacc;
  --G8: #d7d9db;
  --G9: #e1e3e5;
  --G10: #e6e8ea;
  --G11: #ebedef;
  --G12: #f0f0f0;
  --G13: #fdfdfd;
  --G14: #ffffff;
}

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  background: var(--G13);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 150ms ease-out, background-color 150ms ease-out;
  color: rgb(44, 40, 40);
}

header {
  height: 60px;
}

img {
  display: block;
}

p::selection {
  background: var(--blue_btn);
  color: var(--yellow_btn);
}
p::-moz-selection {
  background: var(--blue_btn);
  color: var(--yellow_btn);
}
span::selection {
  background: var(--yellow_btn);
  color: var(--blue_btn);
}
span::-moz-selection {
  background: var(--yellow_btn);
  color: var(--blue_btn);
}

button {
  cursor: pointer;
}

/* .scrollbarThumb {
} */

/* style for scrollbar-track */
.scrollbarThumb::-webkit-scrollbar-track {
  background-color: transparent;
  padding-right: 0.25rem;
  margin-left: 10px;
  /* background-color: red; */
  /* background: linear-gradient(#fff, #000); */
}

.scrollbarThumb::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(211, 208, 208, 0.479);
}

.scrollbarThumb::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 50px;
}

/* unselectable block*/
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
