@import './normalize.css';
@import '../fonts/fonts.css';

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #495057;
  --gray-darker: #343a40;
  --primary: #0083cd;
  --secondary: #c4c9ce;
  --success: #00a65a;
  --info: #95efff;
  --warning: #ffdf11;
  --danger: #e44655;
  --light: #eef0f2;
  --dark: #212121;
  --black: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* mavka colors */
  /* --chervone: #ff9b95; */
  --chervone: #f3a987;
  --chorne: #333333;
  --jowte: #ffff99;
  --golube: #cce6ff;

  /* --nebo: rgb(24 197 255 / 34%);
  --trava: rgb(38 255 98 / 36%);
  --trava_btn: rgb(57 255 48 / 34%); */
  --blue_btn: rgba(20, 185, 255, 1);
  --yellow_btn: rgba(255, 255, 0, 1);
  --red_btn: rgba(248, 155, 149, 1);
  --grey_btn: rgba(128, 128, 128, 1);

  /* grey scale*/
  --G000: #000000;
  --B040: #282a2c;
  --B090: #5a5c5e;
  --B100: #646668;
  --B150: #96989a;
  --B175: #afb1b3;
  --B200: #c8cacc;
  --B215: #d7d9db;
  --B225: #e1e3e5;
  --B230: #e6e8ea;
  --B235: #ebedef;
  --B240: #f0f2f4;
  --B245: #f5f7f9;
  --G255: #ffffff;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(255, 255, 125, 0.8);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 150ms ease-out, background-color 150ms ease-out;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  color: grey;
  /* background-color: rgba(255, 255, 125, 0.8); */
}

img {
  display: block;
}

/* style for scrollbar-track */
.scrollbarThumb::-webkit-scrollbar-track {
  background-color: transparent;
  padding-right: 0.25rem;
  margin-left: 10px;
}

.scrollbarThumb::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.scrollbarThumb::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 50px;
}

/* unselectable block*/
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
