.wrapDoDoHelper {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.wrapDoDoHelper p {
  margin: 0;
}
.nameDoDoHelper {
}

.messageDot {
  width: 25px;
  height: 25px;
  background-color: salmon;
  border: 1px solid rgb(189, 176, 176);
  border-radius: 50%;
  color: white;
  font-weight: 700;
}
