.fieldset {
  border: none;
  border-radius: 13px;
  font-style: italic;
  margin: 0;
  box-shadow: 0 0 4px 0px grey;
  background: var(--tr_light);

  & > p > span {
    font-weight: bold;
  }
}
.fieldset:not(:last-child) {
  margin: 0 0 5px;
}
