.clock {
  color: grey;
  font-weight: bold;
  width: 40%;
  /* border: 1px solid rgb(175, 172, 172);
  border-radius: 20px 0 0 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.time {
  display: flex;
  padding: 3px;
}
.time div {
  width: 55px;
}
.sec {
  font-size: 10px;
  color: rgb(180, 93, 93);
  display: flex;
  align-items: flex-end;
  font-weight: normal;
  /* border-radius: 50px; */
  /* border: 1px solid grey; */
}
