.clock {
  color: grey;
  font-weight: bold;
  /* width: 40%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.time {
  display: flex;
  padding: 2px 10px;
}
.time div {
  width: 55px;
}
.sec {
  font-size: 10px;
  color: rgb(180, 93, 93);
  display: flex;
  align-items: flex-end;
  font-weight: normal;
}
