.wrapTasks {
  height: 95vh;
  position: relative;
}
.wrapEnterDay {
  position: fixed;
  bottom: 0px;
}
.wrapClock {
  position: absolute;
  top: 0;
  right: 0;
}
.dragDropContext {
  height: 87vh;
}
.container {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 77vh;
  padding: 10px 5px 0;
}
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
}

.container::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
}
.footerWrap {
  position: absolute;
  bottom: 68px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 425px;
}
.wrapBtn {
  display: flex;
  padding-right: 5px;
}
.addButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffeb3b;
  border: none;
  /* font-size: 35px; */
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 0 auto;
  color: grey;
  box-shadow: inset 0px 0px 2px 0.1px rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 0 grey, 2px -2px 0 grey, -2px 2px 0 grey,
    -2px -2px 0 grey, 2px 0px 0 grey, 0px 2px 0 grey, -2px 0px 0 grey,
    0px -2px 0 grey;
}
.plus {
  width: 30px;
  fill: grey;
}
