.wrapTasks {
  height: 100vh;
}
.wrapEnterDay {
  position: fixed;
  bottom: 0px;
}
.dragDropContext {
  height: 87vh;
}
.container {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: calc(100% - 10rem);
  padding: 10px 5px 0;
}
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
}

.container::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
}
.footerWrap {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.wrapBtn {
  display: flex;
}
.addButton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffeb3b;
  border: 1px solid darkgrey;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-animation: zcwmini2 4s 0s ease-out infinite;
  -moz-animation: zcwmini2 4s 0s ease-out infinite;
  animation: zcwmini2 4s 0s ease-out infinite;
}

.plus {
  width: 2rem;
  fill: grey;
}

@keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 1px 2px #c1eb27, 0 0 1px 2px #2eeb27, 0 0 1px 2px #278ceb;
  }
  50% {
    box-shadow: 0 0 1px 1px #c1eb27;
  }
  100% {
    box-shadow: 0 0 1px 2px #c1eb27, 0 0 1px 2px #2eeb27, 0 0 1px 2px #278ceb;
  }
}
