.wrapTasks {
  height: 100vh;
  background-color: rgba(20, 185, 255, 0.03);
  position: relative;
}
.wrapEnterDay {
  position: fixed;
  bottom: 0px;

  /* width: 320px; */
  /* max-width: 425px; */
}
.wrapClock {
  position: absolute;
  top: 0;
  right: 0;
}
.dragDropContext {
  height: 87vh;
}
.container {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 86vh;
  padding: 10px 5px 0;
}
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
}

.container::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
}
.addButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffeb3b;
  border: none;
  font-size: 35px;
  position: absolute;
  bottom: 45px;
  right: 5px;
  outline: none;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  font-weight: 700;
  margin: 0 auto;
  color: grey;
  box-shadow: inset 0px 0px 2px 0.1px rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 0 grey, 2px -2px 0 grey, -2px 2px 0 grey,
    -2px -2px 0 grey, 2px 0px 0 grey, 0px 2px 0 grey, -2px 0px 0 grey,
    0px -2px 0 grey;
}
