select option[value='низька'] {
  background: #fcf952;
}

select option[value='середня'] {
  background: #91ff95;
}

select option[value='висока'] {
  background: #f3a987;
}

.lowPriority {
  background-color: #fcf952;
}

.normalPriority {
  background-color: #91ff95;
}

.highPriority {
  background-color: #f3a987;
}
.select {
  border-radius: 7px;
  padding: 3px;
  outline: none;
  color: grey;
  border: 1px solid lightgrey;;
}
.oneOption {
  border-radius: 7px;
  color: grey;
}
