.wrapHeader {
  background-color: #ffeb3b;
}

.wrapList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  list-style: none;
  max-width: 425px;
  margin: 0 auto;
}
.routeHeader {
}
.logoLink {
  text-decoration: none;
  color: grey;
}
.contactsLink {
  text-decoration: none;
  color: grey;
}
.weaterLink {
  text-decoration: none;
  color: grey;
}
.rateLink {
  text-decoration: none;
  color: grey;
}
.loginLink {
  text-decoration: none;
  color: grey;
}
