.wrapTask {
  position: relative;
  list-style: none;
  border: 1px solid rgb(212, 206, 206);
  margin-bottom: 5px;
}
.wrapTask p {
  margin: 0;
}
.checkBox {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: rgb(212, 206, 206);
}
.wrapInsert {
  padding: 0 30px 5px 30px;
}
.timeTask {
  font-size: 10px;
}
.wrapText {
  display: flex;
}
.wrapText p {
  margin: 0;
}

.task {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  padding: 8px;
  border-top: 3px solid transparent;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.lowPriority {
  border-color: #fcf952;
}

.normalPriority {
  border-color: #91ff95;
}

.highPriority {
  border-color: #f3a987;
}
.completedCheckbox {
  display: none;
}
.lineThrough {
  text-decoration: line-through;
  color: grey;
}
.text {
  /* margin: 0; */
  /* width: 215px; */
}
