.footerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 60px;
  padding: 0 6px;
}
.wrapBtn {
  display: flex;
}
.wrapDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 3px;
}
.addButton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffeb3b;
  border: 1px solid darkgrey;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-animation: zcwmini2 4s 0s ease-out infinite;
  -moz-animation: zcwmini2 4s 0s ease-out infinite;
  animation: zcwmini2 4s 0s ease-out infinite;
}

.plus {
  width: 2rem;
  fill: grey;
}

@keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 1px 2px #c1eb27, 0 0 1px 2px #2eeb27, 0 0 1px 2px #278ceb;
  }
  50% {
    box-shadow: 0 0 1px 1px #c1eb27;
  }
  100% {
    box-shadow: 0 0 1px 2px #c1eb27, 0 0 1px 2px #2eeb27, 0 0 1px 2px #278ceb;
  }
}
