.footerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 60px;
  padding: 0 6px;
}
.wrapBtn {
  display: flex;
}
.wrapDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 3px;
}
.addButton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffeb3b;
  border: 1px solid darkgrey;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus {
  width: 2rem;
  fill: grey;
}
