.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}
.modal {
  /* margin-bottom: 18px; */
}
