.wrapWeather {
  position: relative;
  display: flex;
  height: 35px;
  align-items: flex-end;
  padding: 5px 5px 18px;
}
.cloudSun {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.degree {
  font-weight: 700;
  margin: 0;
}
