/* Тут глобальні настройки компонентів
* flex, центрування, padding, margin
* position ...
*/

.wrapHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
