.wrapWeather {
  font-weight: 700;
  display: flex;
}
.wrapIcon {
  width: 20px;
  height: 20px;
}
.degree {
  margin: 0;
}
.timezone {
  font-size: 10px;
}
.icon {
  /* fill: red;
  color: green;
  background-color: magenta; */
}
