.wrapWeather {
  position: relative;

  /* background-color: red; */
}
.wrapIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  left: -2px;
}
.wrapDescr {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 25px;
}

.degree {
  margin: 0;
  padding: 0 0 0 5px;
}
.timezone {
  font-size: 10px;
  text-align: start;

  margin: 0;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}
.icon {
  padding: 5px;
}
