/* set background-color,  */

.header {
  min-width: 320px;
  margin: 0 auto;
 
}
.main {
  min-width: 320px;
  margin: 0 auto;
  background-color: rgb(230, 230, 148);
}
.footer {
  background-color: rgb(95, 92, 91);
}
