.wrapContact {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(245, 243, 243);
}
.wrapContact p {
  margin: 0;
}
.nameContact {
}
.statusContact {
  color: #a9f374;
}
