.wrapCountry {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 36px);
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0 auto;

  .location {
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
    font-family: Lato, arial, sans-serif;
  }

  .wrapFielset {
    margin-bottom: 5px;
    background: transparent;

    & > fieldset {
      background: transparent;
      border-radius: 50%;
      width: calc(100vw - 10px);
      height: calc(100vw - 14px);
      margin: 20px auto;
      padding: 0;

      @media (min-width: 855px) {
        width: calc(100vh - 120px);
        height: calc(100vh - 120px);
      }
    }

    .blueYellow {
      & > svg {
        background: linear-gradient(
          180deg,
          rgba(3, 128, 252, 0.4983370057007178) 0%,
          rgba(255, 253, 0, 1) 100%
        );
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        margin: 6px 9px;
        border-radius: 50%;
        border: 0.5px solid lightgrey;
        color: rgba(130, 130, 150, 0.3);
      }
    }

    .wrapMap {
      border-radius: 50%;
      margin: auto;
      max-width: inherit;
      width: inherit;
      height: inherit;

      & > img {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        border: 0.5px solid lightgrey;
        object-fit: fill;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border-radius: 9px;
        overflow: hidden;
        margin: 5px auto;
      }
    }

    .backCard {
      margin: auto;
      max-width: inherit;
      // width: inherit;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      // height: calc(40vh - 3px);
      padding: 15px;
      background: var(--tr_dark);

      width: calc(100vw - 14px);
      height: calc(100vw - 14px);

      @media (min-width: 855px) {
        width: calc(100vh - 125px);
        height: calc(100vh - 121px);
      }
    }
  }

  .wrapVideo {
    width: calc(100% + 10px);
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
    min-height: 220px;
    margin-left: -5px;

    & > iframe {
      height: 100%;
      width: 100%;
      border: none;
      position: absolute;
    }
  }
}

.wrapCountry::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
}

.wrapCountry::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.wrapCountry::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
}
