.wrapWeatherFolk {
  color: grey;
}
// TODO fix  select text color
.wrapWeatherFolk::selection {
  background: #82dcf3;
  color: #fff;
}
.wrapWeatherFolk::-moz-selection {
  background: #82dcf3;
  color: #fff;
}
