// .wrapWeatherFolk {
// }
// TODO fix  select text color
.wrapWeatherFolk ::selection {
  background: #2ca200;
  color: #fff;
}
.wrapWeatherFolk ::-moz-selection {
  background: #2ca200;
  color: #fff;
}
