.container {
  position: relative;
  color: grey;
  height: 100%;
  overflow: auto;
  padding: 20px 10px 0;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgba(97, 74, 74, 0.3);
  border-radius: 50px;
  margin: 3px 0;
}

.container::-webkit-scrollbar {
  padding: 5px 0;
  width: 6px;
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #b8b8b9;
  border-radius: 50px;
  padding: 5px 0;
}

/*  1 div */
.wrapDescription {
  font-size: 10px;

  & > p {
    margin: 0;
  }

  .authorWords {
    text-align: justify;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 15px;
  }

  .wrapList {
    margin: 10px 0 5px 30px;
    font-size: 12px;
    font-weight: 300;
    padding: 0;
  }

  .inWall {
    padding: 0 20px;
    margin: 10px 0 10px;
    & > p {
      margin: 0;
    }
  }
}

/* 2 div */
.wrapCreater {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.wrapCreater p {
  margin: 0;
  padding: 5px 10px;
}
.link {
  font-family: Caveat, sans-serif;
  font-weight: 700;
  color: green;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: rgb(243, 165, 165);
}

.wrapCreater p span {
  font-size: 10px;
  padding-right: 5px;
}

/* 3 div*/
.threeDots {
  padding-left: 5px;
  height: 12px;
  fill: grey;
}
.desctop {
  padding-left: 5px;
  font-weight: 700;
  color: grey;
}

// messangers
.messangers {
  display: flex;

  .messenger {
    height: 54px;
    width: 54px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 6px;
      margin-right: 6px;
    }

    & > svg {
      height: 50px;
      width: 50px;
      margin-top: 2px;
      margin-left: 2px;
      padding: 5px;
    }

    .bgBlock {
      position: absolute;
      top: 0;
      left: 0;
      height: 54px;
      width: 54px;

      border-radius: 9px;
      z-index: -1;
    }
    .green {
      background: linear-gradient(
        180deg,
        rgba(142, 224, 150, 1) 0%,
        rgba(38, 179, 60, 1) 100%
      );
    }
    .purple {
      background: linear-gradient(180deg, #c08ee0 0%, #9526b3 100%);
    }
    .blue {
      background: linear-gradient(180deg, #8ec3e0 0%, #268cb3 100%);
    }
  }
}
