.binance {
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column;
  }

  .currency {
    max-width: 200px;

    & > img {
      width: -webkit-fill-available;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
}
