.spinnerWrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  min-width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
}
