.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 9px;

  .inner {
    white-space: nowrap;
    transition: transform 0.6s;
  }
}

.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;

  & > button {
    position: absolute;
    top: 50%;

    &[name='Left'] {
      left: 6px;
    }
    &[name='Right'] {
      right: 6px;
    }
    // .active {
    //   background-color: green;
    //   color: #fff;
    // }
  }
}
