.wrapColumn {
  width: 100%;
  position: relative;
  padding-bottom: 3px;

  & > div:last-of-type {
    padding-bottom: 6px;
  }
}
.start {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4;
  font-family: Lato, arial, sans-serif;
  font-size: 14px;
}
.wrapClock {
  position: absolute;
  top: 8px;
  right: 0;
}

.title {
  padding: 8px;
  margin: 0;
  color: gray;
}
