.myContacts {
  display: flex;
}

/* 2 div */
.wrapCreater {
  font-size: 14px;

  & p {
    margin: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;

    .link {
      font-family: Caveat, sans-serif;
      font-weight: 700;
      color: green;
      text-decoration: none;
      padding-bottom: 15px;
      cursor: pointer;
    }
    .link:hover,
    .link:focus {
      color: rgb(243, 165, 165);
    }
  }
}

// messangers
.messangers {
  display: flex;

  .messenger {
    height: 54px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 6px;
      margin-right: 6px;
    }

    & > svg {
      height: 50px;
      width: 50px;
      padding: 5px;
    }

    .viber {
      width: 34px;
      height: 34px;
      background: #6248c3;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 17px;

      & > svg {
        height: 33px;
        width: 33px;
        padding: 4px;
      }
    }
  }
}
