.wrapper {
  color: grey;
  font-family: 'Inter', sans-serif;
  margin: 0 6px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 12px auto;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
  color: salmon;
}

p {
  margin: 0;
}

ul,
ol {
  margin-left: 5px;
  margin-bottom: 5px;
}

li {
  margin-bottom: 8px;
}

strong {
  font-weight: 600;
}
