.wrapLogo {
  display: flex;
  flex-direction: row;
}
.logoImg {
  background-color: rgb(228, 231, 216);
  border-radius: 50%;
  border: 1px solid rgb(17, 15, 17);
  padding: 0 0 0 3px;
}
.titleSite {
  display: flex;
  align-items: flex-end;

  font-weight: 700;
  margin: 0;
}
