.wrapLogo {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.logoImg {
  background-color: rgb(228, 231, 216);
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

  padding: 0 0 0 3px;
}
.titleSite {
  display: flex;
  align-items: flex-end;

  font-weight: 700;
  margin: 0;
}
